/* FullFlight.module.css */
.flightContainer {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #e0e0e0;
}

.flightHeader {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
}

.flightLeg {
  padding: 10px;
  border-top: 1px solid #e0e0e0; /* If there are multiple legs, separate them visually */
  margin-top: 10px;
  background-color: #f8f8f8;
}

.flightLeg:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.flightInfo {
  margin: 5px 0;
}

.airlineLogo {
  width: 50px; /* Adjust the size of the logo */
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

.priceInfo {
  font-size: 1em;
  font-weight: bold;
  margin-top: 15px;
}

.layoversInfo {
  font-style: italic;
}
